/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Components */
@import url("./components/buttons.css");
@import url("./components/typography.css");
@import url("./components/project.css");

/* Parts */
@import url("./parts/header.css");
@import url("./parts/hero.css");
@import url("./parts/introduction.css");
@import url("./parts/services.css");
@import url("./parts/about.css");
@import url("./parts/projects.css");
@import url("./parts/testimonials.css");
@import url("./parts/end-cta.css");
@import url("./parts/footer.css");

/* Variables */
:root {
  --first-color: #fffcf1;
  --second-color: #bc978a;
  --third-color: #109f72;
  --fourth-color: #003c41;
  --fifth-color: #8473e5;
  --sixth-color: #f9f8f6;
  --dark-color: #001011;
  --main-typo: "Montserrat", sans-serif;
  --secondary-typo: "Poppins", sans-serif;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  --soft-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-typo);
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--first-color);
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  flex-grow: 1;
}

@media (min-width: 1200px) {
  main {
    gap: 4rem;
  }
}
